@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
.hero {
  position: sticky;
  height: 50vh;
  background: url("sun.jpg") no-repeat center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.hero h1 {
  color: #faff70;
  font-size: 2.5rem;
  z-index: 1;
  text-shadow: 2px 2px #a349a4;
  font-family: 'Roboto Mono', monospace;
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 1.8rem;
  }
}

@media (max-width: 480px) {
  .hero h1 {
    font-size: 1.2rem;
  }
}

h1, a {
  font-family: 'Press Start 2P', monospace;
}

@keyframes neon-flicker {
  0%, 100% {
    text-shadow: 0 0 5px #a349a4, 0 0 10px #a349a4, 0 0 20px #ff6392;
  }
  50% {
    text-shadow: 0 0 10px #a349a4, 0 0 20px #ff6392, 0 0 30px #faff70;
  }
}

h1 {
  animation: neon-flicker 1.5s infinite alternate;
}

/*
h2 {
  text-align: center;
}

nav {
  ul {
    text-align: center;
    list-style-type: none;
    padding: 0;
  }

  
  li {
    display: inline;
    margin-right: 15px;
  }
  
  a {
    text-decoration: none;
    color: $primary-color;
  }
  
  a:hover {
    text-decoration: underline;
  }
}
*/
nav {
  background: #a349a4;
  padding: 10px 0;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  margin: 0 15px;
}

nav a {
  color: #faff70;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
  text-decoration: none;
  transition: color 0.3s;
}

nav a:hover {
  color: #ff6392;
}
